{% extends "layout.html" %}

{% block header %}
    <a href="{{ url_for('cashregister') }}"> back to transactions page </a>
{% endblock %}

{% block body %}
    <h1>add items from register</h1>
    <div>
        <form action="{{ url_for('testtransaction', typeselected = param1) }}" method="post">
            <label for="products">Product</label><br>
            <select name="products" id="products">
                {% for id, name in products_list %}
                <option value="{{id}}">{{name}}</option>
                {% endfor %}
            </select> <br> <br>
            <label for="quantity">Qty</label><br>
            <input type="number" name="quantity" id="quantity"> <br>
            <input type="submit" value="submit">

        </form>

        <a href="{{ url_for('rundb') }}">Checkout</a>
    </div>
{% endblock %}