{% extends "layout.html" %}

{% block header %}
    <a href="{{ url_for('admin_panel') }}"> back to admin page </a>
{% endblock %}

{% block body %}
<div>
    <h2 class="center-align">Record transactions</h2>
    <form action="{{ url_for('cashregister') }}" method="post">
        <select name="prod_type_selector" id="prod_type_selector">
            {% for id, name in prod_type_nameid %}
            <option value="{{ id }}">{{name}}</option>
            {% endfor %}
        </select>

        <label for="customerName">Name of the customer</label>
        <input type="text" name="customerName" id="customerName">

        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}